@model Upormium.DomainModel.ApplicationClasses.Accounts.RegisterViewModel

<div class="right-side" id="register" style="display: none">
    <div class="custom-md-container center space-evenly">
        <h4 class="heading ml-10">Register</h4>
        <form class="space-evenly" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" onsubmit="return validateRegisterForm()" autocomplete="off">
            <div class="inputbox">
                <label for="email">Email</label><em class="danger-text">*</em>
                <input type="text" name="Email" id="email" />
            </div>
            <div class="errors-container">
                <span asp-validation-for="Email" class="error-msg display-block"></span>
                <span id="email-empty-error-span" class="error-msg display-block">This field is mandatory.</span>
            </div>
            <div class="inputbox">
                <label for="password">Password</label><em class="danger-text">*</em>
                <input type="password" name="Password" id="password" />
            </div>
            <div class="errors-container">
                <span asp-validation-for="Password" class="error-msg display-block"></span>
                <span id="email-empty-error-span" class="error-msg display-block">This field is mandatory.</span>
            </div>
            <div class="inputbox">
                <label for="confirm-password">Confirm Password</label><em class="danger-text">*</em>
                <input type="password"
                       name="ConfirmPassword"
                       id="confirm-password" />
            </div>
            <div class="errors-container">
                <span asp-validation-for="ConfirmPassword" class="error-msg display-block"></span>
                <span id="email-empty-error-span" class="error-msg display-block">This field is mandatory.</span>
            </div>
            <div class="login-page-buttons">
                <button class="primary-button mt-10 mr-10 ml-10">
                    Register
                </button>
                <a class="primary-anchor login-button" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"><u>Log In</u></a>
            </div>
        </form>
    </div>
</div>